$maincolor: white;
$btncolor: #613613;
$seconcolor: #997950;
$txcolor: #7F461B;
$bg-color: #F1E9DA;
$attr: #622a0f;
$link-text-color: #fff;
$button-bg-1: #541388;
$button-bg-2: #D90368;
$button-bg-3: #104547;
$button-bg-4: #4F000B;
$button-bg-5: #F28123;

$overlay-color: #fff;
$speed: 1s;